@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-2">
                <div class="card mb-3">
                    <h3 class="card-header ">@item.category</h3>
                    <div class="text-center py-3">
                        <img src="@item.image" height="200" />
                    </div>
                    <div class="card-body" style="height:5rem;">
                        <h6 class="card-title text-secondary">@item.title</h6>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price : <span class="badge bg-primary">@item.price</span></li>
                        <li class="list-group-item">Category : <span class="badge bg-success">@item.category</span></li>
                        <li class="list-group-item">Rating : <span class="badge bg-warning">@item.rating.rate</span></li>
                        <li class="list-group-item">Sell : <span class="badge bg-danger">@item.rating.count</span></li>
                    </ul>
                    <div class="card-body">
                        <a href="@Url.ActionLink("Edit","Home", new { id = item.id })" class="card-link float-end">Manage</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
